<div class="about">
  <h2 class="title">Course Description</h2>
  <p>
    In this studio course, we embark on an immersive journey into the core
    principles and expansive possibilities of graphic design. Through a rich
    blend of projects, readings, discussions, in-class exercises, presentations,
    and guest lectures, you will engage with the essential elements of
    design—from shape and color to contrast, hierarchy, scale, material,
    imagery, and typography—while also exploring the discipline’s historical
    roots and contemporary practices. We view graphic design as a powerful
    medium for translation, transforming various materials, surfaces, and
    technologies into compelling visual communications that not only convey
    meaning but also stimulate critical thought.
  </p>

  <p>
    As you progress through the course, you will hone your practical skills to
    create and manipulate these fundamental elements, developing a unique body
    of work that reflects your individual vision. At the same time, you will
    delve into key historical moments and theoretical frameworks—such as
    neutrality, universality, and tradition—that have shaped the field. This
    iterative process of creation and critique is designed to deepen your
    technical proficiency and enrich your conceptual understanding, equipping
    you with the vocabulary and critical thinking skills necessary for continued
    exploration and professional growth in graphic design.
  </p>

</div>