<div class="assessment">
  <h2 class="title">Assessment</h2>
  <p>Grades will be assigned according to the rubric below and will factor into
    the course grade:</p>

  <ul>
    <li>20% - Project 1 (Composing Space(s))</li>
    <li>20% - Project 2 (Found Poster)</li>
    <li>20% - Project 3 (Film Invite)</li>
    <li>20% - Project 4 (Collecting)</li>
    <li>10% - Assignments</li>
    <li>10% - Participation and Diligence</li>
  </ul>
</div>