<div class="assignments">
  <h2 class="title">Assignments</h2>
  <details class="show">
    <summary>
      Friction in Methods
    </summary>
    <p>
      These projects are about process, not polish. At the end of each class,
      you'll get a single-task prompt, something small, direct, and maybe even
      uncomfortable. You'll have about an hour to respond, and the only rule is
      that every outcome should take the form of a letter-sized poster.
    </p>

    <p>Think of these as experiments, not finished works. They're meant to push
      you out of habits, create a little friction in how you normally make, and
      show you how different constraints, tools, or gestures can lead to
      unexpected results. Over time, these quick exercises will build into a
      collection of approaches, a record of methods, accidents, and discoveries
      that you can draw from in your practice.</p>

    <ul>
      <li>
        <span><strong>Exercise 1:</strong></span>
        Take a short walk around campus and find a piece of graphic design that
        catches your attention — a sign, flyer, poster, logo, or anything that
        communicates visually. Your task is to make a quick poster by drawing a
        representation of it with your non-dominant hand. Don't worry about
        accuracy; the goal is to pay attention, slow down your looking, and let
        the awkwardness of your hand create unexpected marks and forms.</li>
    </ul>
  </details>

  <details class="composing">
    <summary>
      Composing Space(s)
    </summary>

    <p>Choose a space on or around campus that you have easy access to. Observe,
      study and listen to the space you choose to work with, write a short
      description of the sounds you hear in this space, use only notes and
      language (no photographs).</p>

    <p>
      <span><strong>Part 1:</strong></span>
      Using the provided exercise sheets, fill in unit squares using pencil to
      make expressive compositions of your descriptions of the sounds of your
      chosen space.
    </p>

    <p>
      <span><strong>Part 2:</strong></span>
      Create 4 new compositions expressing the sounds of your space using 6 2 ×
      1 inch black paper rectangles on sheets of white museum board measuring
      9.5 × 6.5 inches. Any 1 composition should be landscape-oriented while any
      3 should be vertical-oriented. You must use all 6 black rectangles per
      composition. Rectangles can be placed anywhere on the page either
      horizontally or vertically, but not diagonally. They cannot overlap or
      bleed (extend beyond the edge of the page). Avoid direct figuration or
      representation and remember to keep working abstractly.
    </p>

    <span>Note: Good craft is important as it impacts the meaning of your
      compositions.</span>

    <p>
      <span><strong>Part 3:</strong></span>
      Create 4 new compositions expressing the sounds of your space this time
      using only straight lines of any size and weight. No diagonals. Make your
      compositions on the computer with Adobe Illustrator, in black and white
      and on 8.5 × 11 inches. Any 1 composition should be landscape-oriented
      while any 3 should be vertical-oriented. Print them at scale and bring
      them to class. You do not need to mount the paper on the museum board.
    </p>

    <p>
      <span><strong>Part 4:</strong></span>
      Using your Part 3 compositions, create 4 new compositions that explore the
      possibilities of the photocopier as a tool. You may overlay compositions
      by copying them, enlarging, cropping, playing with tonal changes and more.
      Explore widely and try different approaches. Your new compositions should
      be made using standard letter-size paper (8.5 × 11 inches), in black and
      white, vertical orientation only. You do not need to mount the paper on
      the museum board.
    </p>
  </details>

  {{! <details class="research">
    <summary>Designer Research</summary>
    <p>Choose a designer or design studio from the list provided to research
      extensively. Share your findings with the class.

      <span>Presentations should include:</span>
      <ul>
        <li>Brief biography of the designer or design studio</li>
        <li>Historical context of their work (What was going on at that time?
          Where were they? etc.)</li>
        <li>Close readings of 3 work examples (What are the design gestures
          present? Who was the commissioner? How was it produced? What do you
          find interesting? etc.)</li>
      </ul>

      <span>Requirements:</span>
      <ul>
        <li>Presentations will be 10 minutes (plan carefully not to go over
          time)</li>
        <li>Look for good quality images</li>
        <li>Only 2–3 slides should contain text, the majority of the
          presentation should focus on images</li>
        <li>Do not show too many images per slide (max. 3 images if you must
          include more than 1)</li>
        <li>Images may have captions in small type positioned near the bottom or
          top left edge</li>
        <li>Include a bibliography slide with citations from at least 4 sources,
          2 of which must be from a print publication</li>
      </ul>

      <span>Note: this exercise will follow a guided visit to The Haas Arts
        Library Special Collections. Designers / Design Studios to choose from:</span>

      <ul class="list">
        <li>2×4</li>
        <li>Amy Suo Wu</li>
        <li>April Greiman</li>
        <li>Armin Hoffmann</li>
        <li>Astrid Seme</li>
        <li>Bart de Baets</li>
        <li>Charles and Ray Eames</li>
        <li>Chris Lee</li>
        <li>Clara Balaguer</li>
        <li>Corita Kent</li>
        <li>Danielle Aubert</li>
        <li>David Bennewith</li>
        <li>David Reinfurt</li>
        <li>Eddie Opara</li>
        <li>Edward Wright</li>
        <li>El Lissitzky</li>
        <li>Emil Ruder</li>
        <li>Eric Hu</li>
        <li>Experimental Jetset</li>
        <li>Ghazaal Vojdani</li>
        <li>Grapus</li>
        <li>Herbert Bayer</li>
        <li>Herbert Matter</li>
        <li>Irma Boom</li>
        <li>James Langdon</li>
        <li>Jan Tschichold</li>
        <li>Jan Van Toorn</li>
        <li>Julia Born</li>
        <li>Julie Peeters</li>
        <li>Kameelah Janan Rasheed</li>
        <li>Karel Martens</li>
        <li>Karl Nawrot</li>
        <li>Katherine McCoy</li>
        <li>Laszlo Moholy-Nagy</li>
        <li>Linked by Air</li>
        <li>Lorraine Wild</li>
        <li>Maureen Mooren</li>
        <li>Max Bill</li>
        <li>Mevis & Van Deursen</li>
        <li>Min Oh</li>
        <li>Mindy Seu</li>
        <li>Muriel Cooper</li>
        <li>Na Kim</li>
        <li>Nat Pyper</li>
        <li>Nicole Killian</li>
        <li>Nontsikelelo Mutiti</li>
        <li>OK-RM</li>
        <li>Other Means</li>
        <li>Paul Rand</li>
        <li>Peter Saville</li>
        <li>Piet Zwart</li>
        <li>Pouya Ahmadi</li>
        <li>Prem Krishnamurthy</li>
        <li>Radim Peško</li>
        <li>The Rodina (Tereza Ruller & Vit Ruller)</li>
        <li>Rosmarie Tissi</li>
        <li>Saki Mafundikwa</li>
        <li>Sara De Bondt</li>
        <li>Sheila Levrant de Bretteville</li>
        <li>Slavs and Tatars</li>
        <li>Sulki & Min</li>
        <li>Tibor Kalman</li>
        <li>Willem Sandberg</li>
        <li>Wim Crouwel</li>
        <li>Wolfgang Weingart</li>
      </ul>
    </p>
  </details> }}

  <details class="poster">
    <summary>Found Poster</summary>
    <p>Walk around campus and find a letter or tabloid-size flyer that is of
      interest to you. (It can announce an upcoming lecture or performance,
      advertise a service, recruit participants for an experiment, etc.) Take a
      photo of it or, if you can, grab a copy. Do some research to find out
      everything you can about what the flyer does, who made it, and who it’s
      for.</p>

    <p>After spending time with your chosen flyer and considering its hierarchy
      of information, redesign it to make it more evocative, expressive, or
      clear as a black and white 11 × 17 inch vertical poster.</p>

    <p>This assignment is to be done by hand, through collage and with the help
      of the photocopier. Deconstruct the original flyer (if you have a photo,
      print it out) by making copies of it, cutting parts out to enlarge or
      downsize them, cropping, and manipulating elements in different ways as
      you see fit. Experiment and try new things. Glue your elements onto an 11
      × 17 inch sheet of paper to make your poster and photocopy this to make a
      flat 11 × 17 inch final version to bring to class.</p>
  </details>

  <details class="film">
    <summary>Film Invite</summary>
    <p>In class we will watch a selection of short film pieces. Choose one of
      these films to work with and design an invite for its screening. The
      invite should include the following (how you word, order, organise,
      arrange, break-up, repeat, or add to this information is up to you):</p>
    <ul>
      <li>Film title</li>
      <li>Name of director / artist</li>
      <li>Date of screening (today): Thursday February 22, 2024</li>
      <li>Location of screening (here): Yale School of Art, Green Hall, Room 210</li>
      <li>Time (now): 8.25am</li>
    </ul>

    <p>Pay close attention to how you translate the motion, pacing, sequencing,
      cuts, sound, tone, volume, expressive quality, feeling, atmosphere of the
      film into a static typographically focused invite.</p>

    <p>
      <span><strong>Part 1:</strong></span>
      The invite must be designed with Google Docs, and be A5-sized (5.83 × 8.27
      inches), landscape or portrait, in black and white and type only. You may
      use either Times New Roman or Arial, in 1 weight and 1 size. Design 3
      different iterations of the invite, bring to class printed to scale and
      also export and email a pdf to the instructor for the start of class.
    </p>

    <p>
      <span><strong>Part 2:</strong></span>
      The invite must be designed with Adobe InDesign, and be 1-sided, 5 × 8
      inches dimensions, landscape or portrait, in black and white and purely
      typographic. You may only use 1 typeface (from the selection of: Akzidenz
      Grotesk, Century Schoolbook, Plantin, Univers (typeface files will be
      supplied)), in 1 weight, at a maximum of 2 point sizes. Design 3 different
      iterations of the invite, export them as a pdf and email to instructor for
      the start of class.
    </p>

    <p>
      <span><strong>Part 3:</strong></span>
      The invite must be designed with Adobe InDesign, and be 2-sided, 5 × 8
      inches dimensions (landscape or portrait), in black and white, using type
      and screenshots / stills from the film. You may only use 1 typeface (from
      the selection of: Akzidenz Grotesk, Century Schoolbook, Plantin, Univers
      (typeface files will be supplied)), in 1 weight, at a maximum of 2 point
      sizes. Design a further 3 different iterations of the invite. For this
      part also consider the weight, colour, texture, feel, tactility of the
      paper stock on which it is printed. Bring to class printed to scale,
      trimmed to crop marks on a selected paper stock.
    </p>
  </details>

  <details class="document">
    <summary>Collecting-Documenting</summary>
    <p>
      <span><strong>Part 1:</strong></span>
      Paying close attention to the objects and world around you, come up with 2
      ideas for a visual collection of 32 specimens.
    </p>

    <p>
      <span><strong>Part 2:</strong></span>
      Incorporating feedback from class, commit to a collection subject.
      Document 4 specimens of your collection using 2 different methods that can
      be visualised in print format. This might be scanning, rubbing,
      photographing, writing, modelling, xeroxing, or other methods of
      recording. Test out a variety of methods and decide on the 2 best ones to
      capture your chosen subject. Print your images on 1-sided 8.5 × 11 inch
      sheets and bring to class (4 images of 1 documentation method, 4 images of
      another documentation method).
    </p>

    <p>
      <span><strong>Part 3:</strong></span>
      Incorporating feedback from class, determine the best documentation method
      for your collection. Continue to add to the collection so that you have 32
      examples of your subject. Document all examples using your documentation
      method of choice. Make sure your image files are named properly and saved
      in a folder on your computer, easily accessible. Another thing to pay
      attention to is image quality: you’ll want images in high resolution to be
      able to manipulate them easily later on.
    </p>
  </details>

  <details class="collate">
    <summary>Collecting-Collating</summary>

    <p>Develop a strategy to organise your full collection of images into a
      publication. Consider ways in which you can order and sequence the
      collection; by shape, size, chronological order, alphabetic order, by
      them, with a narrative arc, etc. Put your images into their sorting
      categories / sequence and print on 1-sided 11 × 17 inch sheets in black
      and white.</p>

    <p>Write a short (c.150 words) text describing your chosen collection and
      ordering strategy. The tone of this text is up to you, it may be
      descriptive, didactic, poetic, playful, etc, it may focus on the act of
      collecting or documenting, on the way in which items have be arranged or
      ordered, it may expand from the objects or from their use, context,
      history, etc.</p>

    <p>With your collection documentation, your selected organising strategy and
      your text description, design and produce a publication / booklet of the
      full collection. For the dimensions of the publication choose from the
      following: 5 × 8 inches, 6 × 9 inches, or 7 × 10 inches. The binding
      should be saddle-stitched (stapled), unless you have another specific
      binding in mind that you have discussed with the instructor. Consider the
      paper stock / materials you will print on, and what (or if) you will have
      a cover stock for the publication.</p>
  </details>
</div>