<div class="attendance">
  <h2 class="title">Attendance</h2>
  <p>
    Attendance is essential. Three or more absences will result in a failing
    grade. Three or more late arrivals (more than 10 minutes late) will count as
    an absence. If you absolutely must miss class, email me in ADVANCE not the
    day of. Emailing me on the day of class to excuse yourself for any reason
    will still affect your 25% Participation and Diligence of your final grade.
  </p>
</div>