<div class="readings">
  <h2 class="title">Readings</h2>
  <p>
    Throughout the course, you will engage with “reading packets”, groups of
    three to four short readings designed to expand, inform, and contextualize
    your assignments. These selections lean more toward the conceptual and
    contextual aspects of graphic design, drawing on both historical and
    contemporary sources, rather than focusing solely on technical instruction.
    Each packet will serve as the basis for in-class discussions, to which
    everyone is expected to contribute, and will require you to submit written
    responses for at least two of the readings. Your responses should include a
    key quote, a minimum of two sentences of your personal reflections, and at
    least one question to foster further discussion, all of which must be
    submitted to the collective class Reading Responses document prior to each
    discussion session.
  </p>
  <br />
  <details class="design">
    <summary>
      What is Design? / What is a Designer?
    </summary>
    <ul>
      <li>Charles & Ray Eames,
        <a href="https://www.are.na/block/25655608">What is Design? / Design Q&A</a>,
        1972</li>
      <li>Norman Potter,
        <a href="https://www.are.na/block/25655614">Is a Designer an Artist?</a>,
        1980</li>
      <li>Ellen Lupton & Leslie Xia,
        <a
          href="https://eyeondesign.aiga.org/there-is-no-such-thing-as-neutral-graphic-design/"
        >There is No Such Thing as Neutral Graphic Design</a>, 2021</li>
      <li>Andrew Blauvelt,
        <a href="https://www.are.na/block/25655621">Tool (Or, Post-production
          for the Graphic Designer)</a>, 2011</li>
    </ul>
  </details>

  <details class="history">
    <summary>Design History / Design Research</summary>
    <ul>
      <li>Chris Lee,
        <a
          href="https://www.decolonisingdesign.com/2017/guest-post-this-was-written-on-stolen-indigenous-land/"
        >This Was Written on Stolen Indigenous Land</a>, 2016</li>
      <li>Bridget Wilkins,
        <a href="https://www.eyemagazine.com/opinion/article/no-more-heroes">No
          More Heroes: Why is Design History So Obsessed by Appearance?</a>,
        1992</li>
      <li>Michael Rock,
        <a href="https://2x4.org/ideas/1996/designer-as-author/">Designer as
          Author</a>, 1996</li>
      <li>Cherry-Ann Morgan & Nina Paim,
        <a href="https://futuress.org/stories/does-design-care/">Does Design
          Care?</a>, 2021</li>
    </ul>
  </details>

  <details class="typography">
    <summary>Typography / Reading</summary>
    <ul>
      <li>Jost Hochuli,
        <a href="https://www.are.na/block/25655798">The Reading Process</a>,
        1987</li>
      <li>Bryony Quinn,
        <a href="https://www.are.na/block/25655607">A Typographic Chronicle of
          Stops and Starts</a>, 2018</li>
      <li>Robin Kinross,
        <a href="https://www.are.na/block/25655615">
          More Light! For a Typography That Knows What it’s Doing
        </a>, 1993</li>
      <li>J. Dakota Brown,
        <a href="https://www.are.na/block/25655627">
          Typography, Automation, and the Division of Labor: A Brief History
        </a>, 2019</li>
    </ul>
  </details>

  <details class="collections">
    <summary>Collecting / Collections</summary>
    <ul>
      <li>Paul Elliman,
        <a href="https://www.are.na/block/25655609">The World as a Printing
          Surface</a>, 2004</li>
      <li>Céline Condorelli & James Langdon,
        <a href="https://www.are.na/block/25655625">In the Background</a>, 2016</li>
      <li>Paul Elliman,
        <a href="https://www.are.na/block/25655606">Token Resistance</a>, 2006</li>
    </ul>
  </details>

  <details class="books">
    <summary>Collating / Books / Materiality</summary>
    <ul>
      <li>Jost Hochuli,
        <a href="https://www.are.na/block/25655617">Book Design as a School of
          Thought</a>, 1996</li>
      <li>James Goggin,
        <a href="https://www.are.na/block/25655624">The Matta-Clark Complex:
          Materials, Interpretation and the Designer</a>, 2009</li>
      <li>Ulises Carrion,
        <a href="https://www.are.na/block/25655620">The New Art of Making Books</a>,
        1975</li>
    </ul>
  </details>
</div>