<div class="schedule">
  <h2>Schedule</h2>
  <br />
  <details class="week__one">
    <summary>Wednesday August 27</summary>
    <ul>
      <li>Syllabus Overview</li>
      <li>Class website walkthrough</li>
      <li>Introductions</li>
      <li>lecture: I'm a Graphic Designer</li>
    </ul>
  </details>

  <details class="week__two">
    <summary>Wednesday September 3</summary>
    <ul>
      <li>Graphic Design Show & Tell presentations</li>
      <li>Readings packet 1 assigned</li>
      <li>Begin Composing Space(s) assignment (choose / visit / describe spaces)</li>
      <li>For next week: Get access to Annex Lab</li>
    </ul>
  </details>
  <details class="week__two">
    <summary>Friday September 5</summary>
    <ul>
      <li>Present space chosen for Composing Space(s) assignment</li>
      <li>Working on Composing Space(s) Part 1</li>
    </ul>
  </details>

  <details class="week__three">
    <summary>Wednesday September 10</summary>
    <ul>
      <li>Class tools and materials distributed</li>
      <li>Readings packet 1 discussion / reading responses uploaded</li>
      <li>Demo: Illustrator</li>
    </ul>
  </details>
  <details class="week__three">
    <summary>Friday September 12</summary>
    <ul>
      <li>Composing Space(s) Part 1 due</li>
      <li>Lecture: Graphic Design History</li>
      <li>Demo: Illustrator</li>
    </ul>
  </details>

  <details class="week__four">
    <summary>Wednesday September 17</summary>
    <ul>
      <li>Critique: Composing Space(s) Part 1 and Part 2</li>
      <li>For Friday: Composing Space(s) Part 3</li>
    </ul>
  </details>
  <details class="week__four">
    <summary>Friday September 19</summary>
    <ul>
      <li>Critique: Composing Space(s) Part 3</li>
      <li>Lecture: Photocopying</li>
      <li>For next week: Composing Space(s) Part 4</li>
    </ul>
  </details>

  <details class="week__five">
    <summary>Wednesday September 24</summary>
    <ul>
      <li>Readings packet 2 assigned</li>
      <li>Critique: Composing Space(s) Part 4</li>
    </ul>
  </details>
  <details class="week__five">
    <summary>Friday September 26</summary>
    <ul>
      <li>Begin Designer Research assignment (choose designer)</li>
      <li>For next week: Designer Research presentations</li>
    </ul>
  </details>

  <details class="week__six">
    <summary>Wednesday October 1</summary>
    <ul>
      <li>TBD</li>
    </ul>
  </details>
  <details class="week__six">
    <summary>Friday October 3</summary>
    <ul>
      <li>Designer Research presentations</li>
      <li>For next week: Found Poster assignment</li>
    </ul>
  </details>

  <details class="week__seven">
    <summary>Wednesday October 8</summary>
    <ul>
      <li>Lecture: Typography</li>
      <li>Readings packet 2 discussion / reading responses uploaded</li>
      <li>Readings packet 3 assigned</li>
    </ul>
  </details>
  <details class="week__seven">
    <summary>Friday October 10</summary>
    <ul>
      <li>Critique: Found Poster</li>
      <li>Screening: Short film pieces for Film Invite assignment</li>
      <li>Slide: Film Invite</li>
      <li>For next week: Film Invite Part 1</li>
    </ul>
  </details>

  <div class="recess__break">
    <br />
    <p>October Recess</p>
    <br />
  </div>

  <details class="week__eight">
    <summary>Wednesday October 22</summary>
    <ul>
      <li>Critique: Film Invite Part 1</li>
    </ul>
  </details>
  <details class="week__eight">
    <summary>Friday October 24</summary>
    <ul>
      <li>Demo: InDesign</li>
      <li>Working on Film Invite Part 2</li>
    </ul>
  </details>

  <details class="week__nine">
    <summary>Wednesday October 29</summary>
    <ul>
      <li>Working on Film Invite Part 2 & Part 3</li>
      <li>Reading packet 3 discussion / reading responses uploaded</li>
    </ul>
  </details>
  <details class="week__nine">
    <summary>Friday October 31</summary>
    <ul>
      <li>Critique: Film Invite Part 2 & Part 3</li>
      <li>Lecture: Collecting</li>
      <li>Readings packet 4 assigned</li>
      <li>For after Spring Recess: Collecting-Documenting assignment (2 ideas
        for visual collection)</li>
    </ul>
  </details>

  <details class="week__ten">
    <summary>Wednesday November 5</summary>
    <ul>
      <li>Present 2 ideas for visual collection</li>
      <li>Reading packet 4 discussion / reading responses uploaded</li>
      <li>Lecture: Documenting</li>
    </ul>
  </details>
  <details class="week__ten">
    <summary>Friday November 7</summary>
    <ul>
      <li>Working on documenting collection</li>
      <li>For next week: Documentation of collection</li>
    </ul>
  </details>

  <details class="week__eleven">
    <summary>Wednesday November 12</summary>
    <ul>
      <li>Present 2 different methods of documentation</li>
      <li>Working on documenting collection</li>
    </ul>
  </details>
  <details class="week__eleven">
    <summary>Friday November 14</summary>
    <ul>
      <li>Critique: Collecting-Documenting</li>
      <li>Readings packet 5 assigned</li>
      <li>For next week: Collecting-Collating assignment sketches</li>
    </ul>
  </details>

  <details class="week__twelve">
    <summary>Wednesday November 19</summary>
    <ul>
      <li>Lecture: Looking at Books</li>
      <li>Working on sketches and mockups of booklet</li>
    </ul>
  </details>
  <details class="week__twelve">
    <summary>Friday November 21</summary>
    <ul>
      <li></li>Lecture: TBD</li>
      <li>Readings packet 5 discussion / reading responses uploaded</li>
      <li>Working on proof of booklet</li>
    </ul>
  </details>

  <div class="recess__break">
    <br />
    <p>November Recess</p>
    <br />
  </div>

</div>